#include <windows.h>
IDI_ICON1 ICON "icon.ico"
1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "Aniner Team"
            VALUE "FileDescription", "Aniner Browser - مرورگر فوق خفن نسل جدید"
            VALUE "FileVersion", "1.0.0"
            VALUE "InternalName", "Aniner"
            VALUE "LegalCopyright", "Copyright (C) 2026 Aniner Team - MIT License"
            VALUE "OriginalFilename", "Aniner.exe"
            VALUE "ProductName", "Aniner Browser"
            VALUE "ProductVersion", "1.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
